<h1>Authorized personnel only!</h1>

<div class="well">
<ul>
  {{#each model as |review|}}
  <li>
    {{review-tile review=review destroyReview="destroyReview"}}
      <button {{action 'delete' review}}>Delete</button>
    {{update-review review=review update="update"}}
  </li>
  {{/each}}
</ul>

{{new-review saveReview="saveReview"}}
</div>
