<h1>EAT ME</h1>
<p>These are our current local favorites.</p>

<ul>
  {{#each model as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'admin'}}Administration{{/link-to}}
